body{
    background-color: rgb(245, 245, 245);
}

.btn-outline-primary {
    color: #511f52;
    border-color: #511f52;
}


.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary.active, 
.open>.dropdown-toggle.btn-outline-primary {
    color: #fff;
    border-color: #a987a8;
    background-color: #a987a8;
}